<div class="progress">
  <div class="bar">
    <div class="label">{{label}}</div>
    <div class="bar-completed" [style.left.%]="-shift">
      <div class="label-completed" [style.left.%]="shift">{{label}}</div>
    </div>
  </div>
</div>
