$border-radius: 0.5em;
$border-width: 1px;
$padding: 3px;

.progress {
  margin: 0 1em;
  border-style: solid;
  border-width: $border-width;
  padding: $padding;
  border-radius: calc(#{$border-radius} + #{$padding} + #{$border-width});
  border-color: #dcdcdc;
  background-color: #f4f4f4;

  .bar {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
  }

  .label-common {
    width: 100%;
    text-align: center;
  }

  .label {
    @extend .label-common;
    position: absolute;
    color: #000000;
  }

  .bar-completed {
    @extend .bar;
    border-radius: inherit;
    left: -100%;
    background-color: #488aff;
  }

  .label-completed {
    @extend .label-common;
    position: relative;
    left: 100%;
    color: #ffffff;
  }
}
