<h2>Zonky Average Loan Amount Calculator</h2>

<div class="container">
  <div class="spaced-item input">
    <label>
      Enter loan rating:
      <input #ratingInput type="text" [disabled]="computing" (keyup.enter)="compute()"/>
    </label>&nbsp;<button [disabled]="computing" (click)="compute()">Compute!</button>
  </div>

  <ng-container *ngTemplateOutlet="result"></ng-container>
</div>

<ng-template #errorMessageTemplate>
  <div class="spaced-item error">{{errorMessage}}</div>
</ng-template>

<ng-template #progressTemplate>
  <div class="spaced-item progress">
    Computing average loan amount for loans with the rating of "{{rating}}":
  </div>
  <div class="item stretch">
    <app-progress-bar id="query-progress" class="bold" [progress]="progress"></app-progress-bar>
  </div>
</ng-template>

<ng-template #resultTemplate>
  <div class="spaced-item">
    The avarege loan amount of loans with the rating of "{{rating}}" is:
    <span class="bold">{{averageAmount | number:'1.2-2':'en-US'}}</span>
  </div>
</ng-template>
