$border: 1px;
$padding: 3px;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.item {
  flex-grow: 0;
}

.stretch {
  flex-grow: 1;
}

.spaced {
  // match the spacing of the progress bar
  margin-top: $border;
  margin-bottom: $border;
  padding-top: $padding;
  padding-bottom: $padding;
}

.spaced-item {
  @extend .item;
  @extend .spaced;
}

.bold {
  font-weight: bold;
}

.error {
  color: red;
}

.input {
  // distance the input from the result
  margin-right: 2em;
}

.progress {
  // distance the progress message from the porgress bar
  margin-right: 0.4em;
}

// progress bar styling
#query-progress .progress {
  margin: 0;
  border-width: $border;
  padding: $padding;
  background-color: #37b4be;

  .label {
    color: white;
  }

  .bar-completed {
    background-color: #faa61a;
  }

  .label-completed {
    color: black;
  }
}
